<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/download (1).jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>NAMIBE</ion-card-subtitle>
        <ion-card-title>BEM VINDO A CIDADE DO NAMIBE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Moçâmedes, chamada Namibe de 1985 a 2016, é a cidade capital da província do Namibe, em Angola.
O município tem 8 916 km² e cerca de 530 000 habitantes. É limitado a Norte pelo município de Baía Farta, a Este pelos municípios de Camucuio, Bibala e Virei, a Sul pelo município de Tômbua e a Oeste pelo Oceano Atlântico e é constituído pelas comunas de Moçâmedes, Lucira e Bentiaba.
É o terceiro maior porto de Angola, depois de Luanda e Lobito.</p>
      </ion-card-content>
      <ion-slides pager="true" speed="1000">
      <ion-slide style="background: red">
        <img src="assets/praia.jpg"/>
      </ion-slide>
      <ion-slide style="background: gray">
        <img src="assets/marinha.jpg"/>
      </ion-slide>
      <ion-slide style="background: blue">
        <img src="assets/queda.jpg"/>
      </ion-slide>
    </ion-slides>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>MUNICÍPIOS</ion-label>
      </ion-list-header>
      <ion-item href="https://pt.wikipedia.org/wiki/Mo%C3%A7%C3%A2medes">
        <ion-icon slot="start" color="medium" name="bus"></ion-icon>
        <ion-label>MOÇAMEDES</ion-label>
      </ion-item>
      <ion-item href="https://pt.wikipedia.org/wiki/Bibala">
        <ion-icon slot="start" color="medium" name="bus"></ion-icon>
        <ion-label>BIBALA</ion-label>
      </ion-item>
      <ion-item href="https://pt.wikipedia.org/wiki/Virei">
        <ion-icon slot="start" color="medium" name="bus"></ion-icon>
        <ion-label>VIREI</ion-label>
      </ion-item>
      <ion-item href="https://pt.wikipedia.org/wiki/T%C3%B4mbua">
        <ion-icon slot="start" color="medium" name="bus"></ion-icon>
        <ion-label>TOMBWA</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
